<ion-header>
  <ion-navbar>
    <ion-title>Details</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <p><b>Name:</b> {{pokemonName}}</p>
  <img src={{sprite}}>
  <p><b>Height:</b> {{height}}</p>
  <p><b>Weight:</b> {{weight}}</p>
  <p><b>Abilities:</b> </p>
  <p *ngFor="let ability of abilities">
    {{ ability.name }}
  </p>
  <p><b>Base Stats:</b> </p>
  <p *ngFor="let stat of stats">
    {{ stat.name }} : {{ stat.base_stat }}
  </p>
  <p><b>Photo of capture location: </b></p>
  <img [src]="base64Image" *ngIf="base64Image" />
</ion-content>
